.main-footer {
  background-color: $light-grey;
  padding: 115px 0 28px;

  &__content {
    @include flex-row;
    @include flex-align(space-between);
  }

  &__contact {
    max-width: 230px;
    margin-right: 20px;

    .main-footer__text {
      margin-bottom: 22px;
    }
  }

  &__title {
    color: $dark-grey;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 13px;
    letter-spacing: 1.1px;
  }

  &__text {
    color: $black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }

  &__info {
    margin-right: 30px;
  }

  &__info-links-wrap {
    @include flex-row;
    @include flex-align(space-between);
    margin-right: 20px;
  }
  
  &__info-links {
    @include flex-column;
    @include flex-align(flex-start, flex-start);
    
    &:first-of-type {
      margin-right: 90px;
    }
  }

  &__info-link {
    @include transition;
    color: $black;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

    &:hover {
      opacity: .6;
    }
  }

  &__subscribe {
    @include flex-column;
    width: 368px;
  }

  &__form {
    @include flex-row;
    @include flex-align(space-between, center);
    background-color: $white;
    border: 1px solid #d9dee1;
    margin-top: 23px;
  }

  &__email {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px 0 10px 19px;
    width: 100%;
    letter-spacing: 0.6px;
    border: 0;
    outline: none;
    background-color: transparent;
  }

  &__submit {
    @include transition;
    @include wh(21px, 17px);
    padding: 23px;
    background: url(../img/paper-plane.png) no-repeat center;
    border: 0;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }

  &__copy-links {
    @include flex-row;
    @include flex-align(space-between, center);
    margin-top: 42px;
  }

  &__copy-text {
    color: $dark-grey;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    float: left;
    letter-spacing: 0.3px;
  }

  &__links {
    @include flex-row;
    @include flex-align(space-between, center);
    margin-right: 15px;
  }

  &__link {
    @include transition;
    margin: 0 3px;

    &:hover {
      opacity: .6;
    }
  }
}