$max-width: 1366px;
$main-width: 1170px;

$bg-color: #fff;
$white: #fff;
$black: #212121;
$grey: #8c8c8c;
$dark-grey: #6c6c6c;
$light-grey: #f7f7f7;
$darker-grey: #f4f4f4;
$green: #43a047;
$blue: #1e88e5;
$red: #e53935;
$light-red: #f44336;